.page {
  background-color: #2A2C2F;
  min-width: 1024px;
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .page {
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    min-width: 1280px;
  }
}
