.place__image{
  width: 440px;
  height: 440px;
  display: block;
  object-fit: cover;
  object-position: left;
  margin: 0;
}
@media screen and (min-width:320px) and (max-width:768px){
  .place__image{
    width: 320px;
    height: 320px;
  }
}
