.footer__link {
  display: inline-block;
}

.footer__link:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .footer__link {
    display: flex;
    margin-top: 32px;
  }
}
