.place__paragraph {
  width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  font-style: normal;
  margin: 0;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 26px;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .place__paragraph {
    font-size: 16px; 
    width: 288px;
    margin: auto;
  }

  .place__paragraph:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .place__paragraph {
    width: 352px;
  }
}
