.cover {
  background: url(../../images/background_do_baikala.jpg) center no-repeat;
  background-size: 100%;
  min-height: 640px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .cover {
    min-height: 200px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (min-width:1280px) {
  .cover {
    min-height: 740px;
    background-size: 1184px 740px;
  }
}
