.cover{
  background: url(../../images/background_do_baikala.jpg) center no-repeat;
  background-size: 100%;
  height: 640px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media screen and (min-width:320px) and (max-width:767px){
  .cover{
    height: 200px;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .cover{
    height: 480px;

  }
}
