.footer__item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .footer__item {
    display: flex;
    margin-top: 32px;
  }

  .footer__item:not(:last-child) {
    margin-top: 32px;
  }
}
