.cover__title{
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  margin: 0 auto 0;
  font-style: normal;
  z-index: 2;
}
@media screen and (min-width:320px) and (max-width:767px){
  .cover__title{
    font-size: 32px;
    width: 288px;

  }
}
