.footer {
  display: flex;
  color: #fff;
  margin: 0 48px 0;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .footer {
    flex-wrap: wrap;
    margin-left: 16px;
    flex-direction: column;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .footer {
    margin: 0 24px 0;
  }
}

@media screen and (min-width:1280px) {
  .footer {
    margin: auto;
  }
}
