.place__url {
  color: #aaa;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 12px;
}

@media screen and (min-width:320px) and (max-width:767px){
  .place__url{
    width: 288px;
  }
}
