.place__website {
  color: #fff;
  line-height: 122%;
  font-size: 18px;
  transition: linear 0.2s;
}

.place__website:hover {
  opacity: 0.8;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .place__website {
    width: 288px;
  }
}
